.Products {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  justify-content: center;
  margin-block-start: 50px;
}

h1{
  text-align: center;
}

@media (min-width:900px) {
  .Products {
    gap: 15px;
    flex-wrap: nowrap;
  }
  }