.Product {
  position: relative;
  width: 90%;
  max-width: 350px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 40px 5px rgba(70, 70, 90, 0.2);

  & h2 {
    margin-top: 15px;
  }

  & .Product-content {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .Product__description {
    padding: 15px;
  }
  & img {
    margin: 10px auto;
    border-radius: 100%;
  }
  & button {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #83dd1c 5%, var(--color1) 100%);
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    border: 0px;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    font-family: var(--font1);
    font-weight: 500;
    color: black;
  }
  & button:hover {
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  }
}
.Product-card {
  position: absolute;
  width: 320px;
  height: 100px;
  margin-top: 320px;
}
.Product-front, .Product-back {
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

.Product-front {
  transform: perspective(600px) rotateY(0deg);
}

.Product-back{
  transform: perspective(600px) rotateY(-180deg);
}

.Product-card.rotated > .Product-front{
  transform: perspective(600px) rotateY(180deg);
}
.Product-card.rotated > .Product-back{
  transform: perspective(600px) rotateY(0deg);
}
.read {
  cursor: pointer;
  padding: 10px;
  color: #2c669b;
}