.Description {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 1024px;
  width: 100%;
  margin-top: 105px;
  
  & .Description-principal {
    grid-column: 1/6;
    grid-row: 1/2;
    margin-inline-start: 10px;
    & h3{
      margin: 20px 0;
      width: auto;
      max-width: 500px;
      
      & h4{
        margin: 20px 0;
        width: auto;
        max-width: 400px;
        color: var(--color1);
      }
    }
  }

  & figure {
    margin: 20px auto;
    grid-column: 6/11;
    grid-row: 1/2;

    & img{
      width: 150px;
      border-radius: 25%;
      box-shadow: 5px 5px 10px 15px rgba(70, 70, 90, 0.083);
    }
  }

  & .Description-secondary {
    grid-column: 1/11;
    grid-row: 2/3;
    background-color: #447907d0;
    margin: 40px auto;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
}
