header {
  max-width: 1024px;
  width: 100%;
  min-width: 340px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: whitesmoke;
}