.index-footer {
  width: 100%;
  height: auto;
  margin: 30px auto;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #44790775;

  & .index-footer-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;

    & p{
      font-size: 1.5rem;
      padding: 3px;
      width: 330px;
    }

    & .index-footer-contact {
      width: 320px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      list-style-type: none;

      & p{
      width: 100px;
      }

      & span {
        color: #333;
        display: inline;
        width: auto;
  
      }
  
      & img {
        width: auto;
        height: 50px;
        padding: 10px;
        opacity: 60%;
        transition: all 300ms ease-out
      }
  
      & img:hover{
        opacity: 0.9;
  
      }
    }
  }
}

@media (min-width:650px) {
  .index-footer{
    & .index-footer-container {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
  }